<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    protected override void OnInitialized()
    {
        MyClient.Ip = IpSerivce.GetClientIpAddress();
        LogService.Log($"Acces from ip [{MyClient.Ip}]", LogLevel.Information);


        EventService.QueryEvent += (s, a) =>
        {
            if (a.State.ControlFlag == 4)
            {
                Snackbar.Add($"{a.Station.Name} -> {a.State.PalettaName} kisorolva",Severity.Success);    
            }
        };


    }
}